altair==5.3.0
attrs==24.1.0
awsebcli==3.20.10
blessed==1.20.0
blinker==1.8.2
botocore==1.31.85
cachetools==5.4.0
cement==2.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.3
flask==3.0.3
flask-cors==4.0.1
gitdb==4.0.11
gitpython==3.1.43
idna==3.7
importlib-metadata==8.2.0
itsdangerous==2.2.0
jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
markupsafe==2.1.5
mdurl==0.1.2
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pathspec==0.10.1
pillow==10.4.0
protobuf==5.27.3
pyarrow==17.0.0
pydeck==0.9.1
pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyyaml==6.0.2
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.19.1
semantic-version==2.8.5
setuptools==72.2.0
six==1.16.0
smmap==5.0.1
streamlit==1.37.0
tenacity==8.5.0
termcolor==1.1.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
typing-extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
wcwidth==0.1.9
werkzeug==3.0.3
zipp==3.19.2
